*,
*::after,
*::before {
  margin: auto 0;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;

  --white-color: #fff;
  --darker-white-color: #f7f7f7;
  --gray-color: #333;
  --darker-gray-color: #272f3c;
  --sun--color: #ffb703;
  --rain--color: #219ebc;
  --cloud--color: #6c757d;
  --hill-color: #606c38;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

main {
  width: 100%;
}

/* ----------------------------------------------- */
/* ------------ Re-usable components ------------- */
/* ----------------------------------------------- */

a {
  text-decoration: none;
}

.fa-cloud {
  color: var(--cloud--color) !important;
}

.fa-temperature-low {
  color: var(--darker-gray-color) !important;
}

.fa-wind {
  color: var(--rain--color) !important;
}

.fa-sun {
  color: var(--sun--color) !important;
}

.fa-moon {
  color: var(--darker-gray-color) !important;
}

.fa-mountain {
  color: var(--hill-color) !important;
}

/* ----------------------------------------------- */
/* -------------- Aside section ------------------ */
/* ----------------------------------------------- */

#aside {
  background-color: var(--white-color);
  width: 15vw;
  height: 100%;
  padding: 2.4rem 4.8rem;
  border: none;
  border-top-right-radius: 11px;
}

.aside__input--box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4.8rem;
}

.aside__input--box__user--input {
  background-color: var(--darker-white-color);
  border: none;
  border-radius: 11px;
  height: 3rem;
}

.aside__input--box__user--input--btn {
  border-radius: 50%;
  border: none;
  height: 2rem;
  width: 2rem;
}

.aside__output--box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside__output--box__img--box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6.4rem;
}

.aside__output--box__img--box__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.aside__output--box__img--box__icon i {
  font-size: calc(15.8rem + 2vh);
  color: var(--sun--color);
}

.aside__output--box__img--box__text__degrees {
  font-size: 6.2rem;
  font-weight: 300;
  color: var(--gray-color);
}

.aside__output--box__img--box__text__location--box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 3.2rem;
}

.aside__output--box__img--box__text__degrees {
  margin-bottom: 1rem;
}

.aside__output--box__img--box__text__location--box span,
.aside__output--box__img--box__text__weather_info--box span {
  font-size: 1.6rem;
  color: var(--gray-color);
}

.aside__output--box__img--box__text__weather_info--box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  bottom: 10%;
}

/* ----------------------------------------------- */
/* -------------- Main section ------------------ */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* -------------- Navigation section ------------- */
/* ----------------------------------------------- */

#weather-section {
  padding: 2.4rem 4.8rem;
  height: 100vh;
  background-color: var(--darker-white-color);
}

.weather-section--navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3.2rem;
}

.weather-section--navigation--temperature__type--box,
.weather-section--navigation--links--box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.weather-section--navigation--links--box a,
.weather-section--navigation--temperature__type--box a {
  font-size: 1.6rem;
  cursor: pointer;
}

.weather-section--navigation--links--box a:link,
.weather-section--navigation--links--box a:visited {
  color: var(--gray-color);
  transition: all 0.1s;
}

.weather-section--navigation--links--box a:hover,
.weather-section--navigation--links--box a:active {
  color: var(--darker-gray-color);
  border-bottom: 1px solid var(--darker-gray-color);
}

.weather-section--navigation--temperature__type--box a:link,
.weather-section--navigation--temperature__type--box a:visited {
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 0.8rem;
  background-color: var(--white-color);
  color: var(--gray-color);
  transition: all 0.35s;
}

.weather-section--navigation--temperature__type--box a:hover,
.weather-section--navigation--temperature__type--box a:active {
  background-color: var(--darker-gray-color);
  color: var(--darker-white-color);
}

/* ----------------------------------------------- */
/* -------------- Weather day section ------------ */
/* ----------------------------------------------- */

.weather-section--weather__display--box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.weather-section--weather__display--box--weather__day--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--white-color);
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 11px;
}

.weather__day__morning--num--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.weather-section--weather__display--box--weather__day--box h2,
.weather-section--weather__display--box--weather__day--box span {
  font-size: 1.6rem;
  color: var(--gray-color);
}
.weather-section--weather__display--box--weather__day--box i {
  font-size: 4.4rem;
  color: var(--gray-color);
}

/* ----------------------------------------------- */
/* ---------- Weather highlights section --------- */
/* ----------------------------------------------- */

.weather-section--weather__highlights {
  height: 100%;
  width: 100%;
}

.heading--primary {
  font-size: 3rem;
  margin: 3rem 0;
  color: var(--gray-color);
}

.weather-section--weather__highlights--box {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.weather-highlight--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--white-color);
  padding: 2.4rem 4.8rem;
  border: none;
  border-radius: 11px;
  height: 80%;
}

.weather-highlight--box__inner-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.weather-highlight--box h3,
.weather-highlight--box span {
  color: var(--gray-color);
  font-size: 1.6rem;
}

.weather-highlight--box h3 {
  align-self: flex-start;
}

.weather-highlight--box i {
  font-size: 4.4rem;
}

.weather-highlight--box__inner-flex i {
  font-size: 3rem;
  text-align: center;
}
